{% extends "layout.html" %}

{% block title %}
   Portfolio
{% endblock %}

{% block main %}
{% if message == "Sold" %}
    <div class="alert alert-primary border text-center">You {{message}} {{sellShares}} shares of {{ company }}</div>
{% endif %}

{% if message == "Bought" %}
    <div class="alert alert-primary border text-center">You {{message}} {{shares}} shares of {{ company }}</div>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td style="font-weight: 700;" colspan="4">Portfolio Value</td>
            <td style="font-weight:700;">{{ grand_total }}</td>
        </tr>
    </tfoot>
    <tbody>

        {% for holding in holdings %}
        <tr>
            <td>{{ holding.symbol}}</td>
            <td>{{ holding.name }}</td>
            <td>{{ holding.shares }}</td>
            <td>{{ holding.price }}</td>
            <td> {{ holding.totCost }}</td> 
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td style="font-weight: 700;" colspan="4">CASH</td>
                <td style="font-weight: 700;">{{ cash_balance }}</td>
            </tr>
        </tfoot>
    </tbody>

</table>
    
{% endblock %}