{% extends "layout.html" %}

{% block title %}
   Portfolio
{% endblock %}

{% block main %}
<div class="alert alert-primary border text-center">{{message}}</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">CASH</td>
            <td>$10,000</td>
        </tr>
    </tfoot>
    <tbody>

        {% for row in rows %}
        <tr>
            <td>{{row.symbol.upper()}}</td>
            <td>{{row.company}}</td>
            <td>{{row.shares}}</td>
            <td>{{ price | usd }}</td>
            <td>{{ cost }} | usd }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="4">CASH</td>
        </tr>
    </tbody>

</table>
    
{% endblock %}