{% extends "layout.html" %}

{% block title %}
   Portfolio
{% endblock %}

{% block main %}
{% if message %}
    <div class="alert alert-primary border text-center">{{message}} {{shares}} shares of {{ company }}</div>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">Portfolio Value</td>
            <td style="font-weight:700;">{{ grand_total }}</td>
        </tr>
    </tfoot>
    <tbody>

        {% for holding in holdings %}
        <tr>
            <td>{{ holding.symbol}}</td>
            <td>{{ holding.name }}</td>
            <td>{{ holding.shares }}</td>
            <td>{{ holding.price }}</td>
            <td> {{ holding.totCost }}</td> 
        </tr>
        {% endfor %}

        <tr>
            <td colspan="4">CASH</td>
            <td>{{ cash_balance }}</td>
        </tr>
    </tbody>

</table>
    
{% endblock %}