{% extends "layout.html" %}

{% block title %}
   Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbols",class="form-select form-select-lg mb-3" aria-label=" .form-select-lg example">
                <option selected>Select symbol</option>
                {% for symbol in symbols %}
                    <option value='1'>{{symbol}}</option>
                    
                {% endfor %}
                
            </select>
        </div>
        <div class="form-group">
            <input  autofocus class="form-control" name="shares" placeholder="Number of shares" type="text">
        </div>
        
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}l